body{
    margin: 0;
    padding-top: 92px;
    background-color: #353333;
}
.form{
    color: white;
    padding: 0px 20px;
}
.texto-login{
    padding: 15px;
    text-align: center;
}
.input{
    border: solid 2px rgb(10, 161, 161);
}
.coluna-form{
    margin-top: 15px;
}

.cadastro{
    width: 100px;
    margin: 0 auto;
}
.botao{
    background: #0dd639;
    color: white;
    width: 100%;
    margin-top: 15px;

}

.botoes-login{
    margin-top: 20px;
}
.form-cadastro{
    width: 80%;
    margin: 0 auto;
}
.texto-cadastre-se{
    margin-top: 5px;
    

}
a{
    text-decoration: none;
    color: #0dd639;
}
a:hover{
    color:white
}